.menu-icon {
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 99;
  cursor: pointer;
  display: none;

}

.nav-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.nav-link {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #001b5e;
  color: white;
  margin: 8px;
  padding: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}
.ection-name {
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  z-index: 10;

}

.rotated-text {
  transform: rotate(270deg); /* Rotates the text 90 degrees */
  display: inline-block; /* Ensures the transform property works correctly */
}


.icon {
  color: #fb6006;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  transition: transform 0.2s ease-in-out;

  /* Add subtle glow for both light and dark backgrounds */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6),
    /* dark edge */ -1px -1px 4px rgb(255, 255, 255); /* light edge */
}

.icon:hover {
  transform: scale(1.1);
  color: #fe03e1;
}

.highlight {
  color: #47fc05;
  font-family: "Alex Brush", cursive;
  font-size: 2.6rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  border-right: #03fafe 2px solid;
}

.span-home {
  color: white;
}

.span-about {
  color: blue;
}

.span-work {
  color: green;
}

.span-contact {
  color: red;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
