.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #bd08f4;
    background-image: url('../assets/monica.jpg') ; /* Default image for larger screens */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */

}
.name {
    font-size: 8rem;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}
@media (max-width: 768px) {
    .home-container {
        background-image: url('../assets/monicacell.jpg'); /* Image for mobile devices */
    /* height: 100%; */
    /* width: 100vw; */
    }
   .home-container {
        padding-bottom: 2rem; /* Add padding to the bottom of the home section */
    }
}